.idea

/build/*
!/build/dist/.gitignore

/main/vendor

/test/build/*
/test/main/.sass-cache
/test/main/css
/test/main/node_modules
/test/main/vendor
/test/main/composer.lock
/test/main/package-lock.json
/test/sonar-project.properties
/test/.scannerwork

/test-laravel/*
!/test-laravel/build.env
!/test-laravel/build.properties
!/test-laravel/build.xml
!/test-laravel/VERSION

/test-laravel5/*
!/test-laravel5/build.env
!/test-laravel5/build.properties
!/test-laravel5/build.xml
!/test-laravel5/VERSION

/test-laravel-lumen5/*
!/test-laravel-lumen5/build.env
!/test-laravel-lumen5/build.properties
!/test-laravel-lumen5/build.xml
!/test-laravel-lumen5/VERSION

/test-symfony4/*
!/test-symfony4/build.env
!/test-symfony4/build.properties
!/test-symfony4/build.xml
!/test-symfony4/VERSION

/phing-2.16.1.phar
